.light {
    background-color: #c3d8cf;
    color: black;
    border: 0.5px solid black;
    outline: black;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.dark {
    background-color: #0b261a;
    color: #0ea300;
    border: 0.5px solid black;
    cursor:pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.light:hover {
    background-color: #ddd;
}

.dark:hover {
    background-color:#2b7f2b;
}

.box-light {
    width: 50%;
    height: 150px;
    display: none;
    background-color: #cecec5;
}

.box-dark {
    width: 50%;
    height: 150px;
    display: none;
    background-color: #3a423b;
    color: white;
}

.horizontal {
    float: left;
}

.vertical {
    width: 15%;
}
