.light {
    background-color: red;
    float: left;
    border: 1px solid black;
    outline: black;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
}

.layout:hover {
    background-color: #ddd;
}

.layout:active {
    display: block;
}

.box {
    width: 150px;
    height: 150px;
    display: none;
}
