.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    border-radius: 5px;
}

.container {
    padding: 2px 16px;
    height: 140px;
}

.picture {
    width: 40%;
    float: left;
}

.text {
    float: left;
    position: relative;
    padding-left: 15px;
    padding-top: 25px;
}

.line {
    margin-bottom: 10px;
}
